.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    text-align: center;
}

.wrapper{
    width: 100%;
    position: relative;
    height: 50%;
    overflow: scroll;
    transform: translate(20%, 30%);
}
.input{
    padding: 8px;
    margin: 12px;
    outline: none;
    width: 20%;
}
.button{
   padding: 10px 20px;
   outline: none;
   border: none; 
   margin: 10px;
}
.button-space{
    visibility: hidden;
}
